<ion-footer>
    <!-- <ion-toolbar color="dark">
        <ion-buttons>
            <ion-button *ngFor="let view of surtidoViews" (click)="navegar(view.path)">
                <ion-icon [name]="view.icon"></ion-icon>
                <ion-label>{{view.name}}</ion-label>
            </ion-button>
        </ion-buttons>
          <a *ngFor="let view of surtidoViews" [routerLink]="view.path" routerLinkActive="active-link">
                <ion-icon [name]="view.icon"></ion-icon>
                <ion-label>{{view.name}}</ion-label>
            </a>
    </ion-toolbar> -->
    <ion-toolbar color="dark">
            
    </ion-toolbar>
</ion-footer>