<ion-tabs>
  <ion-tab-bar slot="bottom" color="dark"> 
      <ion-tab-button tab="facturas" >
          <ion-icon name="cart"></ion-icon>
          <ion-label>Facturas</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="pedidos" >
          <ion-icon name="basket"></ion-icon>
          <ion-label>Pedidos</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="vales" >
          <ion-icon name="swap"></ion-icon>
          <ion-label>Vales</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="transformaciones" >
          <ion-icon name="color-wand"></ion-icon>
          <ion-label>Trs</ion-label>
      </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>