<ion-header >
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
          <img class="logo ion-padding-start" src="/assets/circulo.svg" (click)="goToHome()">
      </ion-buttons>
      <ion-title  class="title ion-text-center">{{title}}</ion-title>
      <ion-buttons slot="end">
          <ion-button (click)="presentPopover($event)">
              <ion-icon slot="icon-only" name="more" class="icon-header"></ion-icon>
          </ion-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>