<ion-header >
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
          <img class="logo ion-padding-start" src="/assets/logo.svg">
      </ion-buttons>
      <ion-title  class="ion-text-center title">Control</ion-title>
      <ion-buttons slot="end">
          <ion-back-button text="" icon="arrow-back"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <div class="img-container">
        <img class="imagen" src="/assets/under.png">
    </div>
</ion-content>

<ion-footer>
    <ion-toolbar color="dark">
    </ion-toolbar>
</ion-footer>
