table {
    width: 100%;
  }

.logo{
    height: 90px;
}

.title{
    font-size: 30px;
}

ion-card{
    width: 95%;
}

.divisor{
    border-left-color: #92a8d1 !important;
}

.borders {
    border-bottom-color: red !important;
}

