
  <ion-list lines=“none”>
      <ion-list-header>
          <div >
              <ion-row>
                  <ion-col size="6" offset="3" justify-content>
                    <div id="logo-papel">
                        <img src="/assets/circulo.svg">
                    </div>
                  </ion-col>
              </ion-row>
          </div>
      </ion-list-header>
      <ion-item>
          <ion-label>Mesa</ion-label>
          <ion-select  okText="Aceptar" cancelText="Cerrar" class="select-empleado"   [(ngModel)]="mesa" >
            <ion-select-option [value]="mesa" *ngFor="let mesa of mesas | async">
             {{mesa.cortador.nombre}}
            </ion-select-option>
          </ion-select>
      </ion-item>
        <ion-item>
            <ion-row class="ion-justify-content-around">
                <ion-col size="2" offset="4" >
                        <ion-button size = "large" (click)="cancelar()">CANCELAR</ion-button>
                </ion-col>
                <ion-col  size="2" offset="4" class="ion-padding-start" (click)="aceptar()">
                        <ion-button size="large">ACEPTAR</ion-button>
                </ion-col>
            </ion-row>
        </ion-item>

  </ion-list>
