<app-header-surtido title="Entrega Corte" (searchResult)="buscar($event)"></app-header-surtido>
<ion-content>


    <ion-list lines="none">
        <ion-item *ngFor="let corte of cortes">
          <ion-grid>
            <ion-row class="ion-align-items-center">
              <ion-col size="3">
                <ion-label color="medium" class="documento ion-text-center" *ngIf="corte.factura" (click)="presentModalAsignacion(corte.id)">
                  {{corte.factura}}
                </ion-label>
                <ion-label color="medium" class="documento ion-text-center" *ngIf="!corte.factura" (click)="presentModalAsignacion(corte.id)">
                    {{corte.venta}}
                  </ion-label>
              </ion-col>
              <ion-col size="9">
                  <ion-card class="card-asignacion">
                      <ion-card-header>
                        <ion-card-title color="tertiary">
                          <ion-row>
                            <ion-col>
                               {{corte.clave}} 
                            </ion-col>
                          </ion-row>
                          <ion-row>
                              <ion-col>
                              {{corte.descripcion}}
                              </ion-col>
                          </ion-row>
                        </ion-card-title>
                        <ion-card-subtitle>
                          <ion-row>
                            <ion-col size="10">
                              <ion-label color="medium" class="instruccion">
                                 Instruccion: {{corte.instruccion}}  
                              </ion-label>
                              <ion-label color="medium" class="instruccion">
                                Cantidad: {{corte.cantidad}}
                              </ion-label>
                            </ion-col>
                            <ion-col size="1">
                                <ion-checkbox  color="tertiary" (ionChange)="checked($event, corte.id)" ></ion-checkbox>
                            </ion-col>
                          </ion-row>
                        </ion-card-subtitle>
                      </ion-card-header>
                  </ion-card> 
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list> 
</ion-content>
<app-footer></app-footer>
