<ion-header >
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
          <img class="logo ion-padding-start" src="/assets/logo.svg" (click)="goToHome()">
      </ion-buttons>
      <ion-title  class="ion-text-center title">Entregas Parciales</ion-title>
      <ion-buttons slot="end">
         
          <ion-button (click)="goToBack()">
              <ion-icon slot="icon-only" name="arrow-back" ></ion-icon>
          </ion-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-content>
            <app-selector-empleado tipo="plantilla" (empleado)="asignarEmpleado($event)" ></app-selector-empleado>
        </ion-card-content>
    </ion-card>
  <div  *ngIf="entrega$ | async as entrega">
   
    <ion-card>
        <ion-card-header>
            <ion-title><ion-label color="tertiary"> {{entrega.folioFac}}    {{entrega.nombre}}</ion-label></ion-title>
        </ion-card-header>
    </ion-card>
    <ion-item  *ngFor="let partida of entrega.partidas" lines="none" >

      <ion-card>
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-label color="tertiary"><h2>{{partida.clave}}</h2></ion-label>
                    </ion-col>
                    <ion-col>
                        <ion-label color="tertiary"><h2>{{partida.descripcion}}</h2></ion-label>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                      <ion-col>
                          <ion-label><h2>Cantidad</h2></ion-label>
                      </ion-col>
                      <ion-col>
                          <ion-label><h2>Entregado</h2></ion-label>
                      </ion-col>
                      <ion-col>
                          <ion-label color="tertiary"><h2>Por Entregar</h2></ion-label>
                      </ion-col>
                    </ion-row>
                  <ion-row>
                    <ion-col>
                        <ion-label><h2>{{partida.cantidad}}</h2></ion-label>
                    </ion-col>
                    <ion-col>
                        <ion-label><h2>{{partida.entregado}}</h2></ion-label>
                    </ion-col>
                    <ion-col>
                        <ion-input type="number" *ngIf="(partida.cantidad - partida.entregado) > 0" color="danger" [(ngModel)]="partida.porEntregar" placeholder ="0"></ion-input>
                    </ion-col>
                  </ion-row>
            </ion-grid>
          </ion-card-content>
      </ion-card>
    </ion-item>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="danger" (click)="onSave(entrega)">
            <ion-icon name="save" ></ion-icon>
        </ion-fab-button>
    </ion-fab>
  </div>
</ion-content>

<ion-footer>
    <ion-toolbar color="dark">
    </ion-toolbar>
</ion-footer>


